<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alzheimersdetector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlzheimersDetector">
        <activity android:name=".Exercise"></activity>
        <activity android:name=".Test4" />
        <activity android:name=".Test3" />
        <activity android:name=".Test2" />
        <activity android:name=".Instructions" />
        <activity android:name=".Test" />
        <activity android:name=".Home" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>